extends layout 

block content 

    h1= title

    form(method='POST' action='')
        label(for='name') Console Name:
        input#name(type='text' name='name' value!=(gameConsole === undefined ? '' : gameConsole.name) required='true')

        label(for='developer') Developer:
        select#developer(name='developer' required='true')
            option(value='Microsoft' selected=(gameConsole !== undefined && gameConsole.developer === 'Microsoft' ? 'selected' : false)) Microsoft
            option(value='Nintendo' selected=(gameConsole !== undefined && gameConsole.developer === 'Nintendo' ? 'selected' : false)) Nintendo
            option(value='Sony' selected=(gameConsole !== undefined && gameConsole.developer === 'Sony' ? 'selected' : false)) Sony

        label(for='description') Description of Console:
        textarea#description(name='description' required='true') !{gameConsole === undefined ? '' : gameConsole.description}

        button(type='submit') Submit Console

    if errors
        ul 
            for error in errors
                li!= error.msg
        