extends layout 

block content 

    h1!= gameConsole.name

    div.delete-info
        p Do you really want to delete this console?

        p Deleting this console will remove its availability from the following games: 
            ul
            for game in consoleGames 
                if (game.gameConsoles.length === 1) 
                    li.warning-text !{game.name}*
                else
                    li!= game.name
        
        p Games marked with #[span.warning-text *] will be deleted, as they are not available on any other consoles.

    form.delete-form(method='POST' action='')   
        input#gameconsoleid(type='hidden', name='gameconsoleid', required='true', value=gameConsole._id)

        button(type='submit') Delete