extends layout 

block content 

    h1= title 

    section.games-list
        each game in games
            div.game
                a(href=game.url)
                    h2 #{game.name} 
                    if (game.posterFileName)
                        div.game-poster(style=`background-image: url(/images/${game.posterFileName}`)
                        //- img(src=('/images/' + game.posterFileName) alt='')
                    else 
                        div.game-poster(style=`background-image: url(/images/game-placeholder.png`)
                        //- img(src='/images/game-placeholder.png' alt='')