extends layout 

block content 

    h1!= game.name

    div.delete-info
        p Do you really want to delete this game?

    form.delete-form(method='POST' action='')   
        input#gameid(type='hidden', name='gameid', required='true', value=game._id)

        button(type='submit') Delete